[Unit]
Description=MySmaX Hub Wifi Manager Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/myssix/wifi-manager/hub-connection-simulator.py

[Install]
WantedBy=multi-user.target
